*{
    font-family: 'Barlow', sans-serif;
}
#map{
    height:300px;
    width:100%
}
#singlehouse-map {
    height: 100vh;
    width: 60%;
}
.card-content-singlehouse {
    height: 100vh;
    width: 100%;
}

.cover-image {
    max-height: 300px;
    max-width: 300px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  
}

#back-button{
    background-color: #FBFBF2;
    height: 30px;
    width: 100px;
    padding: 5px;
    text-align: center;
    color: #7A8B99;
    border-radius: 3px;
    margin-left: 10px;
    

}

.singlehouse-cover-image {
    /* max-height: 300px; */
    max-width: 75%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 0 auto;
}

/* #house-listing-section{
    padding-top: 0px;
} */

.cover-image img {
    transition: transform 1s, filter 2s ease-in-out;
    -webkit-transition: transform 1s, filter 2s ease-in-out;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.card:hover .cover-image img {
    cursor: pointer;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.is-overflow-hidden {
    overflow: hidden !important;
}

.is-cursor-pointer {
    cursor: pointer !important;
}

body {
    display: flex;
    background-color: #7A8B99;
   
}

.card {
    background-color: #FBFBF2;
}

.title{
    color: #FBFBF2;
    font-size: 40px;
    text-shadow: 5 5 10;
    
}

.houseCard{
max-height:330px
}

.cardImage{
 min-width:100%;
 min-height:175px;
 max-height:175px;
} 


.subtitle{
    color: #FBFBF2;
    font-size: 18px;
    font-style: italic;
}

h4{
    color: #FBFBF2;
}

#info-card,
#house-photo{
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    body {
       flex-direction: column;
       justify-content: center;
   }

   .card-image {
       align-content: center;
       margin: 0 auto;
       width: 100%;
   }
   .is-overflow-hidden {
       overflow: visible !important;
   }
   
  .houseCard {
   padding-top: 25px;
  }
  .column {
   display: block;
   margin-left: auto;
   margin-right: auto;
  }

  #singlehouse-map {
    width: 100%;
}
}