#map{
    height: 400px;
    width:50%
}
.singlehouse-map {
    height: 100vh;
    width: 100%;
}


.cover-image {
    max-height: 300px;
    max-width: 300px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

body {
    display: flex;
}

#search-section {
    width: 50%;
}

#house-listings-section {
    width: 50%;
}

